<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="credencial.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="credencial.password"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button color="primary" expand="block" round strong [disabled]="!(credencial.username && credencial.password)" (click)="login()"> เข้าสู่ระบบ </ion-button>

</ion-content>