<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ecommerce-chat-detail [conversationList]="conversationList" [receiver]="data.receiverid" (message)="sendMessage($event)"></app-ecommerce-chat-detail>
</ion-content>