<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <span *ngFor="let item of chatList;let i = index">
      <ion-item (click)="openPageChatDetail(item)" *ngIf="item._id !== sender">
        <ion-avatar slot="start">
          <img [src]="item.img">
        </ion-avatar>
        <ion-label>
          {{item.name}}
          <p>{{item.lastChat}}</p> <span class="time">{{item.dateTime}}</span>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>
</ion-content>