<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      แชท
    </ion-title>
    <ion-buttons slot="end" *ngIf="chatList.length > 0">
      <ion-button (click)="findShop()">
        ร้านค้า
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <span *ngFor="let item of chatList;let i = index">
      <ion-item (click)="openPageChatDetail(item)" *ngIf="item._id !== user._id">
        <ion-avatar slot="start">
          <img [src]="item.img">
        </ion-avatar>
        <ion-label>
          {{item.name}}
          <p>{{item.lastChat}}</p> <span class="time">{{item.dateTime | moment}}</span>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>
  <div *ngIf="chatList.length <= 0" class="center">
    <img src="https://image.flaticon.com/icons/svg/889/889101.svg" width="64px" height="64px" alt="image">
    <p>
      ไม่มีข้อมูลการแชท
    </p>
    <p>
      <ion-button color="primary" fill="clear" expand="block" round strong (click)="findShop()"> หาร้านค้าเพื่อพูดคุย
      </ion-button>
    </p>
  </div>
</ion-content>